<div>
  <p>Hola, {{name}}</p>
  <br />
  <p>Ha ocurrido un gasto/ingreso la categoría
    {{categoryName}}, a la cual está suscrito.</p>

  <div>
    <table>
      <thead>
        <th style='padding-right: 10px;'>Fecha</th>
        <th style='padding-right: 10px;'>Descripción</th>
        <th style='padding-right: 10px;'>Importe</th>
      </thead>
      <tbody>
        <tr>
          <td style='text-align: center;'>{{addedDate}}</td>
          <td style='text-align: center;'>{{expenseName}}</td>
          <td style='text-align: center;'>{{amount}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>